@media (max-width: 900px) {
  .container { 
  	max-width: 670px; 
  }
}
@media (max-width: 685px) {
  .container { 
  	max-width: 420px;
  }
}
@media (max-width: 435px) {
  .container { 
  	max-width: 320px; 
  }
}
@media (max-width: 320px) {
  .container { 
  	width: 320px; 
  }
}